header, main, footer {
	clear: both;
}
.page-wrapper {
	padding: 50px 10px 10px 10px;
}
footer {
	position:absolute;
		bottom: 0px;
		height: 30px;
		width: 100%;
	text-align: center;
	padding: 10px 10px 10px 10px;
}