.main-menu {
	position: relative;
}
	.l1c {
		position: relative;
 	float: left;
 	margin: 0px 5px 0px 5px;
 	padding: 10px 10px 10px 10px;
 	border: 1px solid red;
 	background-color: yellow;
 	z-index: 2;
}
.l2c1 {
	z-index: 3;
	position: absolute;
	top: 39px;
	left: -1px;
	width: 200px;
	visibility: hidden;
}
.l3i {
	border: 1px solid red;
	background-color: yellow;
	margin: 0px 0px 0px 0px;
}